.map-view-controller {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.map-overlay-controller {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
}

.map-overlay-controller * {
    pointer-events: visiblePainted;
}