body {
    min-height: 100%;
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}

.visualization-module-controller {
    min-height: 100vh;
    background: #C2D4F3;
    -webkit-flex: 1;
    flex: 1;
    -webkit-order: 1;
    order: 1;
}

.overview-map-controller-container {
    min-height: 100vh;
    max-width: 50vh;
    background: #7797A8;
    -webkit-flex: 1;
    flex: 1;
    -webkit-order: 1;
    order: 1;
}